/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  height: 100vh;
  overflow: hidden;
}

/* Curtain */
.curtain-wrap {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://www.salesforce.com/content/dam/web/en_us/www/images/home/home-clouds.png');
  background-size: cover;
  background-position: center;
  z-index: 9999;
}

.curtain-text {
  font-family: 'Playfair Display', serif;
  font-size: clamp(2rem, 6vw, 4rem);
  color: #ffffff;
  text-shadow: 3px 3px 12px rgba(0, 0, 0, 0.7);
  transition: transform 1s ease, opacity 1s ease;
  cursor: pointer;
}

/* Zoom-out effect */
.curtain-text.zoom-out {
  transform: scale(3);
  opacity: 0;
}

/* Instruction text */
.instruction-text {
  position: absolute;
  bottom: 20%;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  color: #fffffff2;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.7);
  pointer-events: none;

  animation: pulse 1.5s infinite;
}

/* Pulse animation */
@keyframes pulse {
  0% {
    opacity: 0.8;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    opacity: 0.8;
    transform: scale(1);
  }
}